* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
}

button {
    font-size: 2rem;
    background-color: rgb(129, 163, 152);
    border: none;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    transition: 1s ease;
}

input {
    height: 100px;
    font-size: 2.5rem;
    background-color: rgb(206, 224, 224);
}

#submit {
    width: 45%;
    background-color: limegreen;
}

#get-link {
    width: 45%;
    background-color: burlywood;
    font-size: 1.6rem;
}

p {
    font-size: 2.25rem;
}
